# Node.js
node_modules/
dist/
.serverless/
.esbuild/
.aws-sam/
.tmp/

# Go
*.exe
*.dll
*.so
*.dylib
*.test
golang/bin/
golang/vendor/
go.work
go.work.sum

# IDE
.vscode/

# Infra
.terraform/
.dynamodb/

# Environment
.env
